site_name: "@actcoding/supa-cli"
site_description: Advanced CLI tooling for Supabase.
site_url: https://actcoding.github.io/supa-cli/
site_dir: .docs

repo_url: https://github.com/actcoding/supa-cli

remote_branch: main

theme:
  name: material
  favicon: _assets/icon-192.png
  # logo: _assets/icon-192.png
  logo: _assets/heroicons-command-line.svg
  features:
    - navigation.instant
    - navigation.footer
    - content.action.edit
    - content.code.copy
  palette:
    scheme: act
  custom_dir: docs/overrides

nav:
  - index.md
  - installation.md
  - configuration.md
  - Command Reference: command-reference/
  - API Reference: api-reference/

extra:
  generator: true

plugins:
  - search
  - offline
  - git-revision-date-localized:
      enabled: true
  - autorefs
  - literate-nav:
      nav_file: SUMMARY.md
      implicit_index: true

extra_css:
  - _css/extra.css

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
