site_name: "@actcoding/supa-cli"
site_description: Advanced CLI tooling for Supabase.
site_url: https://actcoding.github.io/supa-cli/
site_dir: .docs

repo_url: https://github.com/actcoding/supa-cli

remote_branch: main

theme:
  name: material
  favicon: _assets/icon-192.png
  # logo: _assets/icon-192.png
  logo: _assets/supabase-logo-icon.svg
  features:
    - navigation.instant
    - content.action.edit
  palette:
    scheme: act

plugins:
  - search
  - offline
  - git-revision-date-localized:
      enabled: true

extra_css:
  - _css/extra.css

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
